section {
    padding: 60px 0;
}

.search-form {
    display: flex;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 45px;
    gap: 15px;
}

.search-input {
    height: 40px;
    flex-grow: 1;
    font-size: 18px;
    padding-left: 15px;
    border-radius: 6px;
    border: 1px solid #303030;

}

.search-btn {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #2ecc2e;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    border:none;
    transition: background-color 250ms linear;
}

.search-btn:hover, 
.search-btn:focus {
    background-color:#197119;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}